/* This is the editor's playground (textarea for non-wysiwyg, iframe for wysiwyg). */
.editor
{
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}
.editor, .rich_editor_frame
{
	border: 1px solid #6F5C45;
	background: #2a2a2a;
	padding: 2px !important;
	margin: 0;
	border-radius: 4px 4px 0 0;
}
.rich_editor
{
	background: #2a2a2a;
	color: #afafaf;
	font: 80%/140% "Verdana", "Arial", "Helvetica", sans-serif;
}
/* The resize handle. */
.richedit_resize
{
	height: 7px;
	font-size: 0;
	background: #080808 url(../images/bbc/resize-handle.gif) no-repeat 50% 2px;
	border: 1px solid #82705B;
	border-top-width: 0;
	cursor: s-resize;
	width: 100%;
	padding: 0 2px;
}