/* special styles for IE7 */


.profilsag
{
width:0px;padding-left:0px;
}

.sure
{
padding-left:0px;
}
.guestlo
{
margin-top:7px;color:#ffffff;
}
.guestlo a:link
{
color:#ffffff;
}
.guestlo a:visited
{
color:#ffffff;
}
