/* Normal, standard links. */
a:link
{
        color: #d0d0ff;
        text-decoration: none;
}
a:visited
{
        color: #d0d0e0;
        text-decoration: none;
}
a:hover
{
        color: #f0f0f0;
        text-decoration: underline;
}

/* Navigation links - for the link tree. */
.nav  , .nav:link , .nav:visited
{
        font-family: tahoma, helvetica, serif;
        font-size: 8pt;
        color: #e0e0e0;
        font-weight: bold;
        text-decoration: none;
}
.nav:hover
{
        font-family: tahoma, helvetica, serif;
        font-size: 8pt;
        font-weight: bold;
        color: #fff080;
        text-decoration: none;
}

/* Tables should show empty cells. */
table
{
        empty-cells: show;
}

/* By default (td, body..) use Tahoma in black. */
body, td, th
{
        color: #ffffff;
        font-size: small;
        font-family: tahoma, helvetica, serif;
}

/* The main body of the entire forum. */
body
{
        background-color: #000000;
        margin: 0px;
        padding: 5px 20px 5px 20px;
}

/* Input boxes - just a bit smaller than normal so they align well. */
input,button
{
       border: solid 1px #909090;
        background-color: #282525;
        font-size: 9pt;
        color: #d0d0d0;
        font-family: tahoma, helvetica, serif;
}
/* All input elements that are checkboxes or radio buttons. */
textarea
{
       border: solid 1px #909090;
        background-color: #282525;
        font-size: 9pt;
        color: #d0d0d0;
        font-family: tahoma, helvetica, serif;
}
/* All input elements that are checkboxes or radio buttons. */
input.check
{
        border: solid 0px #909090;
        background-color: transparent;
        color: black;
}

/* Selects are a bit smaller, because it makes them look even better 8). */
select
{
        background-color: #202020;
        font-size: 8pt;
        font-weight: normal;
        color: white;
        font-family: tahoma, helvetica, serif;
}

/* Standard horizontal rule.. ([hr], etc.) */
hr, .hrcolor
{
        height: 1px;
        border: 0;
        color: #808080;
        background-color: #000000;
}

/* A quote, perhaps from another post. */
.quote
{
        background-color: #000000;
        border: 1px solid #a0a0a0;
        padding: 6px;
        font-size: x-small;
}

/* A code block - maybe even PHP ;). */
.code
{
        color: #909090;
        background-color: #000000;
        border: 1px solid #d0d0d0;
        padding: 1px;
        font-family: "courier new", helvetica, "times new roman", serif;
        font-size: x-small;
        width: 99%;
        margin: 1px auto 1px auto;
        white-space: nowrap;
        overflow: auto;
}
.forum_name
{
        color: #e0e0e2;
        font-size: 14px;
        font-weight: bold;
}
.mybox
{
        border-top: solid  1px #454545;
        border-left: solid 1px #454545;
        border-right: solid  1px black;
        border-bottom: solid 1px black;
        background-color: #282828;
        padding: 5px;
        margin-bottom: 10px;
}
.mybox2
{
        border-top: solid  1px #555555;
        border-left: solid 1px #555555;
        border-right: solid  1px black;
        border-bottom: solid 1px black;
        background-color: #404040;
        padding: 5px;
        margin-bottom: 10px;
}


.bar_name
{
        color: #c0c0c0;
        font-size: 10px;
        padding-left: 6px;
}

/* The "Quote:" and "Code:" header parts... */
.quoteheader, .codeheader
{
        color: #ffffff;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-size: x-small;
}

/* Generally, those [?] icons.  This makes your cursor a help icon. */
.help
{
        cursor: help;
}

/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction
{
        color: #ff0000;
}

/* The main post box - this makes it as wide as possible. */
.editor
{
        width: 96%;
}

/* Highlighted text - such as search results. */
.highlight
{
        background-color: #807000;
        font-weight: bold;
        color: #ffffff;
}

/* Alternating backgrounds for posts, and several other sections of the forum. */
.windowbg
{
        font-family: tahoma, helvetica, serif;
        color: #ffffff;
        background-color: #404040;
        border-top: solid  1px #606060;
        border-left: solid 1px #606060;
        border-right: solid  1px black;
        border-bottom: solid 1px black;
}
.windowbg2
{
        font-family: tahoma, helvetica, serif;
        color: #ffffff;
        background-color: #505050;
        border-top: solid  1px #707070;
        border-left: solid 1px #707070;
        border-right: solid  1px black;
        border-bottom: solid 1px black;
}
.windowbg_sticky
{
        font-family: tahoma, helvetica, serif;
        color: #ffffff;
        background-color: #454545;
        border-top: solid  1px #606060;
        border-left: solid 1px #606060;
        border-right: solid  1px black;
        border-bottom: solid 1px black;
}
.windowbg2_sticky
{
        font-family: tahoma, helvetica, serif;
        color: #ffffff;
        background-color: #555555;
        border-top: solid  1px #707070;
        border-left: solid 1px #707070;
        border-right: solid  1px black;
        border-bottom: solid 1px black;
}
.windowbg_locked
{
        font-family: tahoma, helvetica, serif;
        color: #ffffff;
        background-color: #353535;
        border-top: solid  1px #606060;
        border-left: solid 1px #606060;
        border-right: solid  1px black;
        border-bottom: solid 1px black;
}
.windowbg2_locked
{
        font-family: tahoma, helvetica, serif;
        color: #ffffff;
        background-color: #454545;
        border-top: solid  1px #707070;
        border-left: solid 1px #707070;
        border-right: solid  1px black;
        border-bottom: solid 1px black;
}
.windowbg_sticky_locked
{
        font-family: tahoma, helvetica, serif;
        color: #ffffff;
        background-color: #4a4a4a;
        border-top: solid  1px #606060;
        border-left: solid 1px #606060;
        border-right: solid  1px black;
        border-bottom: solid 1px black;
}
.windowbg2_sticky_locked
{
        font-family: tahoma, helvetica, serif;
        color: #ffffff;
        background-color: #5a5a5a;
        border-top: solid  1px #707070;
        border-left: solid 1px #707070;
        border-right: solid  1px black;
        border-bottom: solid 1px black;
}

/* All the signatures used in the forum.  If your forum users use Mozilla, Opera, or Safari, you might add max-height here ;). */
.signature
{
}

/* These are used primarily for titles, but also for headers (the row that says what everything in the table is.) */
.titlebg, tr.titlebg td,.titlebg2, tr.titlebg2 td
{
        background-color: #303030;
        font-weight: bold;
        color: #e0e0e0;
        font-style: normal;

}
.titlebg a:hover,.titlebg2 a:hover
{

        color: #f0e080;
}

/* This is used for categories, page indexes, and several other areas in the forum. */
.catbg, .catbg3
{
        background-color: #383838;
}

/* This is used for a category that has new posts in it... to make it light up. */
.catbg2
{
}

.catbg, .catbg2,.catbg3
{
        font-weight: bold;
        color: #ffffff;
}

.catbg:link , .catbg2:link, .catbg3:link
{
        font-weight: bold;
        color: #ffffff;
}
.catbg:hover , .catbg2:hover, .catbg3:hover
{
        font-weight: bold;
}/* This is used for tables that have a grid/border background color (such as the topic listing.) */
.bordercolor
{
        border-top: solid  1px #454545;
        border-left: solid 1px #454545;
        border-right: solid  1px black;
        border-bottom: solid 1px black;
        background-color: #303030;
}

/* This is used on tables that should just have a border around them. */
.tborder
{
        border-top: solid  1px #454545;
        border-left: solid 1px #454545;
        border-right: solid  1px black;
        border-bottom: solid 1px black;
        background-color: #303030;
        padding: 0px;
}

/* Default font sizes: small (8pt), normal (10pt), and large (14pt). */
.smalltext
{
        font-size: 8pt;
        font-family: tahoma, helvetica, serif;
}
/* Posts and personal messages displayed throughout the forum. */
.post, .personalmessage
{
	width: 100%;
	overflow: auto;
	line-height: 1.3em;
}

/* All the signatures used in the forum.  If your forum users use Mozilla, Opera, or Safari, you might add max-height here ;). */
.signature
{
	width: 100%;
	overflow: auto;
	padding-bottom: 3px;
	line-height: 1.3em;
}
.normaltext
{
        font-size: small;
}
.largetext
{
        font-size: large;
}
/* No image should have a border when linked */
a img{
	border: 0;
}


/* The AJAX notifier */
#ajax_in_progress
{
	background: #363282;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 18pt;
	padding: 3px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
