.grey1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 3B3B3B;
	text-decoration: none;
}
a.grey1:hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 3B3B3B;
	text-decoration: underline;
}
.blue1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 41516D;
	text-decoration: none;
}
a.blue1:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 41516D;
	text-decoration: underline;
}
.blue1_no {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: A9B1BD;
	text-decoration: none;
}
.mm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 364864;
	text-decoration: none;
	font-weight: bold;
}
a.mm:hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #879AB2;
	text-decoration: none;
	font-weight: bold;
}
.mm2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 586D8C;
	text-decoration: none;
	font-weight: bold;
}
a.mm2:hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 586D8C;
	text-decoration: none;
	font-weight: bold;
}
.pmm {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 364864;
	text-decoration: none;
	font-weight: normal;
}
a.pmm:hover {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 879AB2;
	text-decoration: none;
	font-weight: normal;
}
.mmsel {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 910101;
	text-decoration: none;
	font-weight: bold;
}
.pmmsel {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 910101;
	text-decoration: none;
	font-weight: normal;
}
.fld {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 41516D;
	border: 1px solid #41516D;
}
.pg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 005386;
	text-decoration: none;
	background-color: DBE3ED;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
a.pg:hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #C0CDDC;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.pgsel {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #83A1C2;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.grey2 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
}
.free_calls tr#b0 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #DBE3ED;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.free_calls tr#b1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #41516D;
	text-decoration: none;
}
.free_calls tr#b2 {background-color: #F8FAFC;}